<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  

  <appSettings>
    <!-- company name shown on pages and report -->
    <add key="CompanyName" value="Data World Solutions Ltd." />
    <!-- folder to save word template-->
    <add key="WordTemplatePath" value="C:\temp\WordTemplate\" />
    <!-- SQL command execution timeout -->
    <add key="CommandTimeout" value="300" />
    <!-- DB Connection -->
    <add key="DBConnectionUserID" value="72A55078378D6932D25BBC421454A9A1C10054076553E33D0F2BAA44737AB73D1B9A234B4" />
    <add key="DBConnectionPassword" value="72A55078378D6932D25BBC421454A9A1C10054076553E33D0F2BAA44737AB73D1B9A234B4" />
  </appSettings>
  <connectionStrings>
    <add name="pmsstagingConnectionString" connectionString="Data Source=192.168.19.200\sql2012;Initial Catalog=QueryReport_LinsonTest;Persist Security Info=True;User ID=sa;Password=wori5286623" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--  executionTimeout="600" = 10 Mins -->
    <httpRuntime executionTimeout="600" maxRequestLength="999999" requestLengthDiskThreshold="102400" minFreeThreads="176" minLocalRequestFreeThreads="152" />
    <!--  timeout="30" = 30 Minutes -->
    <sessionState cookieless="AutoDetect" timeout="30" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    
    
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" />
    </defaultProxy>
  </system.net>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="SignIn.aspx" />
      </files>
    </defaultDocument>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>-->
  </system.webServer>
</configuration>